<ion-header>
  <ion-navbar color="primary">
    <ion-buttons right>
      <button ion-button clear text-capitalize color="light" (click)="editedData()">save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="banner">
    <ion-card no-padding>
      <div class="user-info">
        <div class="user-img">
          <img src="../assets/imgs/img4.jpg">
        </div>
        <div class="edit-img" text-left padding-left padding-top padding-right>
          <ion-list no-lines>
            <ion-item no-lines>
              <ion-input [(ngModel)]="editName"></ion-input>
              <ion-icon item-end name="create"></ion-icon>
            </ion-item>
          </ion-list>
          <!-- <h2>{{userName}}</h2> -->
          <p>
            <ion-icon item-start><img src="{{countryFlag}}"><small>{{countryName}}</small></ion-icon>
          </p>
        </div>
      </div>

      <!-- <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col col-3>
            <h4><b>389</b></h4>
            <ion-icon name="restaurant" item-start color="icons"></ion-icon>
            <small>Foodprint</small>
          </ion-col>
          <ion-col col-3>
            <h4><b>69</b></h4>
            <ion-icon name="restaurant" item-start color="icons"></ion-icon>
            <small>Cuisines</small>
          </ion-col>
          <ion-col col-3>
            <h4><b>9</b></h4>
            <ion-icon name="home" item-start color="icons"></ion-icon>
            <small>Restaurant</small>
          </ion-col>
          <ion-col col-3>
            <h4><b>1,364</b></h4>
            <ion-icon name="contacts" item-start color="icons"></ion-icon>
            <small>Buddies</small>
          </ion-col>
        </ion-row>
      </ion-grid>-->

    </ion-card>
  </div>
  <div class="contnt_sec">

    <div padding class="input_sec">
      <ion-list no-lines>
        <ion-item>
          <ion-input placeholder="Write Something About Yourself..." [(ngModel)]="bio"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div padding class="btn_sec">
      <ion-row>
        <ion-col col-4 text-center>
          <button ion-button round color="dark" text-capitalize>Interest</button>
        </ion-col>
        <ion-col col-4 text-center>
          <button ion-button clear color="dark" text-capitalize>Near Me</button>
        </ion-col>
        <ion-col col-4 text-center>
          <button ion-button clear color="dark" text-capitalize>Calender</button>
        </ion-col>
      </ion-row>
      <div class="added-items">
        <label *ngFor="let item of interest; let j = index">
          {{interest[j]}}
          <button ion-button clear small icon-only (click)="clearInterest(item,j)" color="danger">
            <ion-icon name="close"></ion-icon>
          </button>
        </label>
        <!-- <ion-row class="btn_cls" *ngIf="interest!='' || interest!=null || interest!=undefined">
                <ion-col col-6 *ngFor="let item of interest; let j = index">
                    <ion-list no-lines>
                        <ion-item>
                            <p>{{interest[j]}}</p>
                            <button ion-button clear item-end>
                                <ion-icon name="close" color="light" (click)="clearInterest(item,j)"></ion-icon>
                            </button>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>-->
      </div>
    </div>
    <div padding class="card_sec">
      <p><strong>Food Prefferences :</strong></p>
      <ion-row class="btn-nav">
        <ion-col col-6>
          <ion-card>
            <p>
              <strong>Ruth's crish streak </strong>
            </p>
            <ion-icon name="pin" item-start color="icons"></ion-icon>
            <small>Vancouver</small>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card>
            <p>
              <strong>Blue water cafe</strong>
            </p>
            <ion-icon name="pin" item-start color="icons"></ion-icon>
            <small>Vancouver</small>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="btn-nav">
        <ion-col col-6>
          <ion-card>
            <p>
              <strong>Bauhaus Resturant </strong>
              <p>
                <ion-icon name="pin" item-start color="icons"></ion-icon>
                <small>Vancouver</small>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card>
            <p>
              <strong>Five sails restaurant</strong>
            </p>
            <ion-icon name="pin" item-start color="icons"></ion-icon>
            <small>Vancouver</small>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <!-- <ion-label>Select Date</ion-label> -->
    <div>
      <p><strong>Food Prefferences :</strong></p>
    </div>

    <div padding class="calender_sec">
      <label>Select Date</label>
      <ion-row>
        <ion-col col-6>
          <ion-list>
            <ion-item>
              <!-- <ion-label>From</ion-label> -->
              <ion-datetime displayFormat="DD/MM/YY" pickerFormat="DD-MMM-YYYY" placeholder="From"
                [(ngModel)]="minValidationDate" min="{{minValidationDate}}"></ion-datetime>
              <ion-icon item-end name="calendar" color="icons"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-6>
          <ion-list>
            <ion-item>
              <!-- <ion-label>To</ion-label> -->
              <ion-datetime displayFormat="DD/MM/YY" pickerFormat="DD-MMM-YYYY" placeholder="To" [(ngModel)]="toDate1"
                min="{{minValidationDate}}" max="{{fromDate}}" (ngModelChange)="todateValue()"></ion-datetime>
              <ion-icon item-end name="calendar" color="icons"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>

    <div padding-left>
      <p color="primary">Free Timing :</p>
    </div>
    <div padding class="txt_para" *ngIf="noOfDateSelected.length == 0">
          <p>To set Free time, you need to select a To date</p>
        </div>
    <ion-grid *ngIf="noOfDateSelected.length != 0">
      <ion-row>
        <ion-col></ion-col>
        <ion-col *ngFor="let item of noOfDateSelected">{{getDay(item)}}</ion-col>
        {{item}}
      </ion-row>

      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>8AM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive10(i)" *ngIf="i == getIndex10(i) && isActive10[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive10(i)" *ngIf="i == getIndex10(i) && isActive10[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>

      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>9AM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive(i)" *ngIf="i == getIndex(i) && isActive[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive(i)" *ngIf="i == getIndex(i) && isActive[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>10AM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive1(i)" *ngIf="i == getIndex1(i) && isActive1[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive1(i)" *ngIf="i == getIndex1(i) && isActive1[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>11AM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive2(i)" *ngIf="i == getIndex2(i) && isActive2[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive2(i)" *ngIf="i == getIndex2(i) && isActive2[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>12PM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive3(i)" *ngIf="i == getIndex3(i) && isActive3[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive3(i)" *ngIf="i == getIndex3(i) && isActive3[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>1PM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive4(i)" *ngIf="i == getIndex4(i) && isActive4[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive4(i)" *ngIf="i == getIndex4(i) && isActive4[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>2PM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive5(i)" *ngIf="i == getIndex5(i) && isActive5[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive5(i)" *ngIf="i == getIndex5(i) && isActive5[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>3PM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive6(i)" *ngIf="i == getIndex6(i) && isActive6[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive6(i)" *ngIf="i == getIndex6(i) && isActive6[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>4PM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive7(i)" *ngIf="i == getIndex7(i) && isActive7[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive7(i)" *ngIf="i == getIndex7(i) && isActive7[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>5PM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive8(i)" *ngIf="i == getIndex8(i) && isActive8[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive8(i)" *ngIf="i == getIndex8(i) && isActive8[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>6PM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive9(i)" *ngIf="i == getIndex9(i) && isActive9[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive9(i)" *ngIf="i == getIndex9(i) && isActive9[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>7PM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive11(i)" *ngIf="i == getIndex11(i) && isActive11[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive11(i)" *ngIf="i == getIndex11(i) && isActive11[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <div>
            <p><strong>8PM</strong></p>
          </div>
        </ion-col>
        <ng-container *ngFor="let item of noOfDateSelected; let i = index">
          <ion-col (click)="makeInActive12(i)" *ngIf="i == getIndex12(i) && isActive12[i].activeValue == true">
            <div class="col_border col_bg"></div>
          </ion-col>
          <ion-col (click)="makeActive12(i)" *ngIf="i == getIndex12(i) && isActive12[i].activeValue == false">
            <div class="col_border"></div>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>



  </div>
</ion-content>
<ion-footer>
  <ion-row align-items-center>
    <ion-col>
      <button ion-button small clear color="primary">
        <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button small clear color="primary">
        <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="primary" class="fab_btn">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button small clear color="primary">
        <ion-icon name="ios-chatbubbles"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button small clear color="primary">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>